.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.center {
  text-align: center;
  margin: 0 auto;
  width: 40em;
}

.left {
  text-align: left;
  width: 300px;
}