<h2>Example Three</h2>
<p class="center">TODO: Example three的说明</p>

<div class="di-component">
  <h3>Logged in user</h3>
  <div>Name: {{userContext.name}}</div>
  <div>Role: {{userContext.role}}</div>
</div>


<div class="di-component">
  <h3>Hero Bios</h3>
  <app-di-3-hero-bios></app-di-3-hero-bios>
</div>

<div id="highlight"  class="di-component" appDi3Highlight>
  <h3>Hero Bios and Contacts</h3>
  <div appDi3Highlight="yellow">
    <app-di-3-hero-bios-and-contacts></app-di-3-hero-bios-and-contacts>
  </div>
</div>

<div class="di-component">
  <app-di-3-hero-of-the-month></app-di-3-hero-of-the-month>
</div>

<div class="di-component">
  <app-di-3-parent-finder></app-di-3-parent-finder>
</div>
